<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:content="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 注解驱动 -->
    <mvc:annotation-driven />

    <!--&lt;!&ndash;注册使用Servlet3.0实现文件上传的Bean&ndash;&gt;
    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />-->


    <!--注册multipartResolver,由DispatcherServlet来负责调用-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        &lt;!&ndash;设置字符编码防止文件名乱码&ndash;&gt;
        <property name="defaultEncoding" value="utf-8"/>

        &lt;!&ndash;&lt;!&ndash;设置上传文件的总大小，单位是字节b&ndash;&gt;
        <property name="maxUploadSize" value="1048576"/>&ndash;&gt;

        &lt;!&ndash;设置单个上传文件的大小，单位是字节b&ndash;&gt;
        <property name="maxUploadSizePerFile" value="1048576"/>

        &lt;!&ndash;设置内存缓冲区的大小，当超过该值的时候会写入到临时目录
        <property name="maxInMemorySize" value="1048576"/>&ndash;&gt;

        &lt;!&ndash;&lt;!&ndash;设置临时目录&ndash;&gt;
        <property name="uploadTempDir" value="tempupload"/>&ndash;&gt;

        &lt;!&ndash;默认是false，如果设置为true的话，不会将文件路径去除，在IE浏览器下上传时会将路径名也作为文件名上传：D:\image\monkey.png&ndash;&gt;
        <property name="preserveFilename" value="false"/>

        &lt;!&ndash;是否使用懒加载，默认是false
        <property name="resolveLazily" value="true"/>&ndash;&gt;
    </bean>-->

   <!-- &lt;!&ndash;注册注解驱动&ndash;&gt;
    <mvc:annotation-driven validator="mokey1024validator"/>

    &lt;!&ndash;验证器&ndash;&gt;
    <bean id="mokey1024validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
    </bean>-->

    <!--&lt;!&ndash; 注解驱动 &ndash;&gt;
    <mvc:annotation-driven conversion-service="conversionService"/>

    &lt;!&ndash;注册类型转换器&ndash;&gt;
    <bean id="dateConverter" class="com.monkey1024.converter.DateConverter"/>

    &lt;!&ndash;注册类型转换服务bean&ndash;&gt;
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="dateConverter"/>
    </bean>-->


    <!-- 注册组件扫描器 -->
    <context:component-scan base-package="com.monkey1024.*"/>

    <!-- 静态资源 -->
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>

    <!-- 外部视图解析器-->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <bean id="monkey1024" class="org.springframework.web.servlet.view.RedirectView">
        <property name="url" value="http://www.monkey1024.com/"/>
    </bean>

    <!-- 内部视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.monkey1024.interceptor.PermissionInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.monkey1024.interceptor.MyInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.monkey1024.interceptor.MyInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--异常处理
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="com.monkey1024.myexception.MyException">error/myerror</prop>
            </props>
        </property>

        <property name="defaultErrorView" value="error/error"/>
        <property name="exceptionAttribute" value="ex"/>
    </bean>-->

    <!--<bean class="com.monkey1024.myexception.MyExceptionResolver"/>-->

</beans>